@import "src/assets/styles/typo"
@import "src/assets/styles/variables"

.generalInfo
  margin-bottom: 30px
.heading
  @include typo-h0-megaheader()
.description
  @include typo-menu-ui-big
  margin: 10px 0 5px
.note
  color: $blue-dark
  @include typo-menu-ui
  font-style: italic