@import "~Assets/styles/typo"
@import "~Assets/styles/variables"

.memoryCards
  margin-bottom: 30px

  .heading
    @include typo-h0-megaheader()
    color: $blue-dark

  .description
    @include typo-menu-ui-big
    color: $blue-dark
    margin: 10px 0 0

  .resetLink
    @include typo-menu-ui
    color: $blue
    padding-left: 10px

  .errorMessage
    margin: 30px 0 0
    @include typo-menu-ui

  .cardsWrap
    margin-top: 40px
    display: grid
    grid-template-columns: 220px 220px 220px 220px
    grid-column-gap: 40px
    grid-row-gap: 40px
    place-items: center

  .cardItem
    width: 220px
    height: 220px
    cursor: pointer
    box-shadow: $black-opacity-20 0 0 0 2px
    border-radius: 6px