.overlayFormFieldsButtons
  display: flex
  width: 100%
  margin-top: 36px
  justify-content: space-between
  align-items: center

  .positionLeft
    display: flex
    align-items: center

    > * + *
      margin-left: 40px

.widthLikeForm
  width: 500px
